<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context">
<!--    configuration details got here-->
<!--    <bean class="org.example.spring.soundsystem.SgtPeppers" id="compactDisc"/>-->
    <bean class="org.example.spring.soundsystem.BlankDisc" id="compactDisc">
        <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/>
        <constructor-arg value="The Beatles"/>
        <constructor-arg>
            <list>
                <value>Sgt. Pepper's Lonely Heart's Club Band</value>
                <value>With a Littler Help from My Friends</value>
                <value>Lucy in the Sky with Diamonds</value>
                <value>Getting Better</value>
                <value>Fixing a Hole</value>
<!--                ...other tracks omitted for brevity-->
            </list>
        </constructor-arg>
    </bean>
    <bean class="org.example.spring.soundsystem.CDPlayer" id="cdPlayer">
        <constructor-arg ref="compactDisc"/>
    </bean>
</beans>
